<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/img3.jpg">
    <link rel="stylesheet" href="../static/register1.css">
</head>
<body>
    <header><div class="wrapper">
        <ul class="nav-area">
           
        </ul>

        <div class="registration_form">
            <div class="title">
                Job detials
            </div>
    
            <form action="/jobs" method="POST">
                <div class="form_wrap">
                    <div class="input_grp">
                        
                       
                    </div>
                    
                    
                
                    <div class="input_wrap">
                        <label for="text">company</label>
                        <input type="text" id="company" name="company" placeholder="text">
                    </div>
                    <div class="input_wrap">
                        <label for="text">website</label>
                        <input type="text" id="website" name="website" placeholder="text">
                    </div>
                    <div class="input_wrap">
                        <label for="text">position</label>
                        <input type="text" id="position" name="position" placeholder="text">
                    </div>
                 <div class="input_wrap">
                        <label for="address">Skill1</label>
                        <input type="text" id="skill1" name="skill1" placeholder="Skill">
                    </div>
                    <div class="input_wrap">
                        <label for="address">Skill2</label>
                        <input type="text" id="skill2" name="skill2" placeholder="Skill">
                    </div>
                    <div class="input_wrap">
                        <label for="address">Skill3</label>
                        <input type="text" id="skill3" name="skill3" placeholder="Skill">
                    </div>
       
                    
   
                    <div class="input_wrap">
                        <input type="submit" value="Post a job" class="submit_btn">
                    </div>
                </div>
            </form>
            <br>
          
            <div class="links" style="margin-top: 10px;">
              
            </div>
        </div>
    </div>
    </header>
</body>
</html>
